@import "./global.mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 62.5%;

  @include responsiveMax($screen-sm) {
    font-size: 50%;
  }

  @include responsiveMax($screen-xs) {
    font-size: 40%;
  }
}

button {
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  padding: 1rem;
}
