@import "../../styles/variables.scss";
@import "../../styles/global.mixins.scss";

.container {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: $content-width;

  @include responsiveMax($screen-md) {
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  width: 230px;
  height: 250px;

  img {
    border-radius: 0.5rem;
  }
}

.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

  @include responsiveMax($screen-sm) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .map {
    width: 100%;
    border: 0;
  }
}
