@import "../../styles/variables.scss";
@import "../../styles/global.mixins.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  width: $content-width;

  @include responsiveMax($screen-md) {
    width: 100%;
  }

  @include responsiveMax($screen-xs) {
    flex-direction: column;
  }

  nav {
    .toggleMenu {
      display: none;

      @include responsiveMax($screen-xs) {
        display: inline;
        position: absolute;
        top: 2rem;
        right: 1rem;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      list-style: none;
      font-size: 1.6rem;

      @include responsiveMax($screen-xs) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }

      li {
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }

      &:not(.active) {
        @include responsiveMax($screen-xs) {
          display: none;
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem;

    @include responsiveMax($screen-sm) {
      display: none;
    }
  }
}
